* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: grid;
    place-items:center;
    background-color: #191825;
}
.cradle {
    width: 50rem;
    height: 50rem;
    background-color: transparent;
    border-top: 2rem solid #865dff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 4.52rem;
}

div {
    width: .5rem;
    height: 20rem;
    background-color: #865dff;
    position: relative;
}

.cradle div::before {
    content: "";
    position: absolute;
    left: -2rem;
    bottom: 0;
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #865dff;
}

.cradle div:first-child{
    animation: left-swing 2s linear infinite;
    transform-origin: top left;
}

@keyframes left-swing {
    0% {
        rotate: 0deg;
    }
    25% {
        rotate: 30deg;
    }
    50% {
        rotate: 0deg;
    }
    100% {
        rotate: 0deg;
    }
}

.cradle div:last-child{
    animation: right-swing 2s linear 1s infinite;
    transform-origin: top left;
}

@keyframes right-swing {
    0% {
        rotate: 0deg;
    }
    25% {
        rotate: -30deg;
    }
    50% {
        rotate: 0deg;
    }
    100% {
        rotate: 0deg;
    }
}