* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "jost";
}

h2 {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}

p {
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

section {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/414144/pexels-photo-414144.jpeg");
  background-size: 100% auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section-2 {
  background-image: url("https://images.pexels.com/photos/33045/lion-wild-africa-african.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-3 {
  background-image: url("https://images.pexels.com/photos/845242/pexels-photo-845242.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-4 {
  background-image: url("https://images.pexels.com/photos/2666598/pexels-photo-2666598.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
}
